@import './_fonts.css';
@import '@repo/ui-kit/index.css';

@source '../../../../../packages/ui-kit';

:root {
	--app-navbar-height: 56px;
	--app-sidebar-width: 76px;
	--app-table-navbar-height: 51px;
}

html,
body,
#root {
	@apply h-full;
}

body {
	@apply font-inter text-ssm overflow-hidden text-gray-900;
}

a {
	color: inherit;
}
